<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Winsupply Inc Screenshot" src="{{ "/assets/img/winsupply.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Winsupply Inc. </h3>
    <h4> April 2017 - Present</h4>
    <ul>
      <li>Angular</li>
      <li>Responsive Design</li>
      <li>Git/Github</li>
    </ul>
    <p>Responsibilities include: Creating and updating Winsupply local company websites, managing various aspects of the employee portal website, and collaborating on digital commerce and marketing projects.</p>
  </div>
  <div class="images-left">
    <img alt="Winsupply Inc Screenshot" src="{{ "/assets/img/city.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3><a href="/react-weather/">react-weather</a></h3>
    <h4>March 2018</h4>
    <ul>
      <li>React</li>
      <li><a href="https://www.metaweather.com/api/">Metaweather API</a></li>
    </ul>
    <p>Just a little app to learn React. Takes in a city name and finds the forecast for the next five days.</p>
  </div>
</div>
